  <div class="form-row mb-3">
    <label class="form-label" for="name">name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{attraction.name}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="tel">tel</label>
    <input class="form-control" type="tel" name="tel" id="tel" placeholder="Enter tel" value="{{attraction.tel}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="introduction">introduction</label>
    <textarea class="form-control" id="introduction" name="introduction" rows="3" value="{{attraction.introduction}}"></textarea>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="photo">photo</label>
    <input class="form-control" type="url" name="photo" id="photo" placeholder="Enter photo URL" value="{{attraction.photo}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="city">city</label>
      <select class="form-control" id="city" name="city">
      {{#each cities}}
        <option value="{{this.name}}" {{#ifCond this.name ../attraction.city}} selected {{/ifCond}}>{{this.name}}</option>
      {{/each}}

  </select>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="town">town</label>
    <input class="form-control" type="text" name="town" id="town" placeholder="Enter town" value="{{attraction.town}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="address">address</label>
    <input class="form-control" type="text" name="address" id="address" placeholder="Enter address" value="{{attraction.address}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>