<div class="row mb-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.avatar}}" style="width: 250px; border-radius: 100%;">
  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>name:</strong> {{user.name}}</li>
        <li><strong>email:</strong> {{user.email}}</li>
        <li><strong>introduction:</strong> {{user.introduction}}</li>
      </ul>
      {{#ifCond user.id logInUser.id }}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>
      {{/ifCond}}
      <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
    </div>
  </div>
  <hr>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.LikedAttraction.length }} Liked Attractions 喜翻的總數</h5>
        <div class="container">
            <div class="row row-cols-auto" style="align-items: center;">
        {{#each user.LikedAttraction }}
        <div class="col " style="width: 100px;">
          <a href="/attractions/{{this.id}}"><p class="card-text">{{this.name}}</p>
          <img class="img-responsive center-block mb-5" src="{{this.photo}}" style="max-width: 100%;" >
          </a>
        </div>
        {{/each}}
        </div>
        </div>
      </div>
    </div>
  </div>
    {{!-- Comment --}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{comments.length}} Comments 留言總數</h5>
        <p class="card-text">
          <div class="container">
            <div class="row row-cols-auto" style="align-items: center;">
          {{#each comments}}
              <div class="col " style="width: 100px;">
                <a href="/attractions/{{this.attractionId}}">
                  <p>{{this.Attraction.name}}</p>
                  <img class="img-responsive center-block mb-5" src="{{this.Attraction.photo}}" style="max-width: 100%;" >
                </a>
              </div>
          {{/each}}
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  {{!-- Followers --}}
    <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.Followers.length }} Followers 追蹤者總數</h5>
        <div class="container">
          <div class="row row-cols-auto" style="align-items: center;">
            {{#each user.Followers}}
              <a href="/users/{{ this.id }}">
                <p class="card-text">{{this.name}}</p>
                <img class="img-responsive center-block mb-5" src="{{this.avatar}}" style="width: 100px; height: 100px; border-radius: 100%;" >
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Followings --}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{ user.Followings.length }} Followings 追蹤中總數</h5>
        <div class="container">
          <div class="row row-cols-auto" style="align-items: center;">
            {{#each user.Followings}}
              <a href="/users/{{ this.id }}">
                <p class="card-text">{{this.name}}</p>
                <img class="img-responsive center-block mb-5" src="{{this.avatar}}" style="width: 100px; height: 100px; border-radius: 100%;" >
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
